#containerCountdown {
  display: flex;
  justify-content: center;
}

#countdown {
  font-size: 60px;
  margin-top: 100px;
  border-radius: 20px;
  background: linear-gradient(to right, #e9f7c3, #f0f3f5);
  padding: 20px;
}

#myVideo {
  position: fixed;
  top: 0;
  right: 0;
  min-height: 100%;
  min-width: 100%;
  z-index: -1;
}

#startBtn {
  display: none;
}

@media all and (max-width: 500px) {
  #startBtn {
    display: block;
    padding: 20px;
    margin: auto;
    background: linear-gradient(to right, #e9f7c3, #f0f3f5);
    border-radius: 20px;
  }
}

body {
  background: linear-gradient(to right, #acb6e5, #f0f3f5);
}
